[submodule "pythonsrc"]
	path = pythonsrc
	url = git@github.com:radoveev/pyprinciple.git
	branch = master
[submodule "interpreter"]
	path = interpreter
	url = git@github.com:radoveev/SimpleLauncher.git
	branch = ilprinciple-launcher
